{% load humanize c %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for consult_model, secret_url in consults.items %}
    <a href="{% url "question" consult_model.id secret_url %}">
        <p>{{ consult_model.id }} <br> create : {{ consult_model.created_date|naturalday }} <br>
            update : {{ consult_model.updated_date|naturaltime }}
        </p>
        <br><br>
        <p>...</p>

        <br>
    </a>
    <hr>
{% endfor %}

<a href="{% url "new_consult" %}">new consult</a>
</body>
</html>